fastapi==0.111.0
uvicorn==0.29.0
python-multipart==0.0.9
lightgbm>=4.5.0
xgboost>=2.1.1
scikit-learn>=1.5.2
shap>=0.46.0
optuna>=3.6.1
pandas>=2.2.2
numpy>=1.26.4
scipy>=1.13.0
joblib>=1.4.2
imbalanced-learn>=0.12.3
